REDIS_PASSWORD=YourStrongRedisPasswordHere
HOST_UID=HOST_MACHINE_UID
HOST_GID=HOST_MACHINE_GID
HOST_USER=HOST_MACHINE_USERNAME

SERVING_MODEL=CLEARML_ID_PATH_OR_HF_REPO_OF_MODEL
SERVING_TOKENIZER=CLEARML_ID_PATH_OR_HF_REPO_OF_TOKENIZER
SERVING_MAX_BATCH_SIZE=16 # Maximum number of requests to process in a single batch. Increase this number to increase throughput, but it will also increase memory usage.
SERVING_BATCH_TIMEOUT=0.0 # Time in seconds to wait for a batch to fill before processing it. Set to 0.0 to process immediately.
SERVING_NUM_WORKERS=1 # Number of workers per device. increase this number to increase throughput, but it will also increase memory usage.
SERVING_FAST_QUEUE=true # use ZMQ queueing instead of the default Python queueing.
